.Location {
  background-color: #BA2AA4;
}

.Location__content {
  padding-top: 4rem;
  text-align: center;
  min-height: 100vh;
}

.Location__large {
  font-weight: bold;
  font-size: 8rem;
  margin: 0;
  line-height: 1;
}

.Location__map {
  position: relative;
  margin: 25px 0;
}

.Location__mapavatar {
  position: absolute;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  top: 109px;
  right: 71px;
}
