.body--App {
  background-color: #2CA3E9;
}

.App {
  /*padding-top: 3rem;*/
}

.App .button--bottom {
  color: #2CA3E9;
}

.App__logo {
  text-align: center;
}


.App__lead {
  display: flex;
  flex-direction: row-reverse;
}

.App__leadcopy {
  font-size: 2.6rem;
  color: white;
  text-align: center;
  line-height: 1.6;
  padding: 0 30px;
}

.App__slider {
  margin: 9rem 0 5rem 0;
  padding: 0;
  list-style: none;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
}

.App__slider-card {
  display: flex;
  flex-direction: row;
  -ms-align-items: center;
  align-items: center;
  flex: 1 0 auto;
  max-width: 300px;
  margin-left: 50px;
}

.App__slider-image {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-right: 40px;
}

.App__slider-copy {
  color: white;
  text-align: left;
}

.App__slider-copy p {
    font-weight: 500;
    font-size: 2rem;
}

.App__slider-copy p {
  line-height: 1.5;
  margin: 0;
}
