.Skills {
  background-color: #597DD3;
}

.Skills .button--bottom {
  color: #597DD3;
}

.Skills__content {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.Skills__lead {
  padding: 0 4rem;
}

.Skills__buttonList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex: 1 0 auto;
}

.Skills__inputBlock {
  width: 33.33%;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
}

.Skills__inputBlock input {
  display: none;
}

.Skills__inputBlock label {
  display: block;
  font-size: 2rem;
  cursor: pointer;
}

.Skills__inputimage {
  background: white;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.Skills__inputimage img {
  width: 100%;
}
