.Time {
  background-color: #9A46B4;
}

.Time .button--bottom {
  color: #9A46B4;
}

.Time__content {
  padding-top: 11rem;
  text-align: center;
}

.Time__lead {
  font-size: 5rem;
}

.Time__wrapper {
  margin: 0;
  padding: 0 71px;
  font-size: 40rem;
  list-style: none;
  display: flex;
  overflow-x: scroll;
}

.Time__wrapper li {
  flex: 1 0 auto;
  text-align: center;
  margin: 0 40px;
}
