.Moment {
  background: #B331A8;
}

.Moment .button--bottom {
  color: #B331A8;
}

.Moment__content {
  text-align: left;
  padding-top: 4rem;
  min-height: 100vh;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
}

.Moment__wrapper {
  padding: 0 40px;
}

.Moment__large {
  font-size: 9rem;
  line-height: 1;
  margin: 0;
}

.Moment__copy {
  font-weight: 300;
}

.Moment__about, .Moment__large {
  font-weight: bold;
}
