.Register {
  background-image: linear-gradient(135deg, #7037CB, #DD5E89);
}

.Register__content {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.Register__copy {
  padding: 0 4rem;
}

.Register__input {
  font-size: 43rem;
}

.Register__imagedrop {
  border: none;
  border-radius: 50%;
  background: white;
  width: 26.8rem;
  height: 26.8rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Register__imagedrop img {
  border-radius: 50%;
  width: 60%;
  height: 60%;
}
