.Register {
  background-color: #458EDD;
}

.Register .button--bottom {
  color: #458EDD;
}

.Register__content {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.Register__copy {
  padding: 0 4rem;
}

.Register__input {
  font-size: 43rem;
}

.Register__input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.Register__imagedrop {
  border: none;
  border-radius: 50%;
  background: #FF9B44;
  width: 26.8rem;
  height: 26.8rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Register__imagedrop img {
  border-radius: 50%;
  width: 60%;
  height: 60%;
}
